.input{
    display: block; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    margin-top: 0.25rem; 
    background-color: #ffffff; 
    width: 100%; 
    border-radius: 0.375rem; 
    border-width: 2px; 
    border-color: #D1D5DB; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
}

.input-box{
    display: block; 
    margin-top: 0.25rem; 
    width: 100%; 
    border-radius: 0.375rem; 
    border-color: #D1D5DB; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 

    min-height: 2.75rem;
}

.input-box-2{
    /* block w-full z-10 flex-1 rounded-none rounded-l-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm */
    display: block; 
    z-index: 10; 
    flex: 1 1 0%; 
    width: 100%; 
    border-radius: 0; 
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem; 
    border-color: #D1D5DB; 
}

.input:focus{
    border-color: #6366F1; 
    outline: 0; 
    --ring-color: #6366F1; 
}

.input-box:focus{
    border-color: #6366F1; 
    --ring-color: #6366F1; 
    outline: 0; 
}

.invalid{
    border-color: red;
    border-width: 2px;
}

.read{
    position: absolute;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    
    /* width: 1px;
    height: 1px; */
    /* clip: rect(0,0,0,0); */
    left: 0;
    opacity: 0;
    /* cursor: pointer; */

    white-space: nowrap;
    border-width: 0; 
    z-index: 10;
}